Microsoft.Flow/flows/b1270a07-f21e-481c-8628-ba8333708fb9/definition.json
{"name":"f358efcd-26e6-4ada-ae20-0c8bc1c00a51","id":"/providers/Microsoft.Flow/flows/f358efcd-26e6-4ada-ae20-0c8bc1c00a51","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Excel update","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"ed27daa3-537a-4cb1-a943-657a482646f8","type":"User","tenantId":"be03a387-7738-4574-811e-c93f76375642"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-04-21T08:05:50.5329677Z","connectionKeySavedTimeKey":"2024-04-21T08:05:50.5329677Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"413ffdae-9ead-471a-81a1-ef74bfc9e8bc"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL":"/PO_Demo.xlsx","operationMetadataId":"e5db2693-91af-425a-8acc-199e5284b48d","tableId":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!Hs9IOrDFHEmqO0mqAzFQpLZUj_seOi5BmGo3p25NYbQX-J7gyLxtQopAm7xOHkFh","file":"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL","table":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Update_a_row":{"runAfter":{},"metadata":{"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL":"/PO_Demo.xlsx","operationMetadataId":"b108e499-ee58-458d-97d2-e43821fea867"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!Hs9IOrDFHEmqO0mqAzFQpLZUj_seOi5BmGo3p25NYbQX-J7gyLxtQopAm7xOHkFh","file":"012ZR7CJ57PLBJQLDV2VE3PASTPYD5ZWUL","table":"{3D7A42B7-FA6B-4C2F-937C-96B998AEC35F}","idColumn":"Status","id":"Reject","item/Status":"Approve"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"2a92d172-35c1-4c23-aebc-d81780cbbf89"},"type":"Foreach"}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each')?['Status']","Reject"]},"metadata":{"operationMetadataId":"7f44615b-c3a7-4ee7-adf9-10e5840bd1d9"},"type":"If"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"28d2feee-9ea0-46c6-bd30-f1c3a2a6067b"},"type":"Foreach"}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"38966dc5a7dc48ef95bb1b16ae93b372","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}